/* Lilu M. w1770997 11/06/22 */
body {
  background-color: rgb(116, 181, 241);
}
#wrapper {
  margin-right: auto;
  margin-left: auto;
  min-width: 700px;
  max-width: 1024px;
}
h1 {
  color: rgb(174, 10, 207);
  text-decoration: underline;
  font-family: "Franklin Gothic Medium";
  text-align: center;
}

h2 {
  color: rgb(14, 158, 9);
  font-family: "Franklin Gothic Medium";
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
h3 {
  color: darkblue;
}
