body {
  background-color: #3399cc;
  background-image: linear-gradient(#3399cc, #c2e0f0, #3399cc);
  color: #666666;
  font-family: sans-serif;
}
#wrapper {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  min-width: 700px;
  max-width: 1024px;
  box-shadow: 2px 2px 2px 2px #000033;
}
h1 {
  background-color: #000033;
  background-image: url(sunsetimg.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
  color: #ffffff;
  font-family: sans-serif;
  line-height: 200%;
  padding-left: 2em;
  height: 72px;
  margin-bottom: 0px;
}
nav {
  font-weight: bold;
  background-color: #90c7e3;
  padding: 20px;
}
#homehero {
  height: 300px;
  background-image: url(coast.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#yurthero {
  height: 300px;
  background-image: url(yurt.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#trailhero {
  height: 300px;
  background-image: url(trail.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
main {
  padding: 20px;
}
h2 {
  color: #3399cc;
  font-family: sans-serif;
}
h3 {
  color: #000033;
  font-family: sans-serif;
  font-weight: bold;
}
dt {
  color: #000033;
  font-family: sans-serif;
  font-weight: bold;
}
.company {
  color: #000033;
  font-size: 1.2em;
}
footer {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
}
